extends ../layout.jade

block content
  p
    a(href="/auth/logout") Log Out
  h1 Patient #{currentUser.id} Dashboard 
  p childName: #{currentUser.childname}
  p parentName: #{currentUser.parentname}
  p Username: #{currentUser.username}
  
  hr
  h3 Welcome to Vision Therapy
  each plan in patient_plans
    p= plan.name
  hr