extends ../layout

block content
  .panel.panel-info
    .panel-heading
      .panel-title Add Exercise
    .panel-body
      form.form(action='/doctors/#{currentUser.id}/patients/#{patient}/exercises', method='POST')
        table
          each exercise in exercises
            tr
              td
                input.radio(type="radio" name="exercises" value="#{exercise.id}") 
              td.text   
                &nbsp; #{exercise.name}
        p
          label.text Instructions
          input.form-control.input-lg(type="text" name="plan[instructions]")
        input.btn.btn-default.inline.push-right(type='submit' value='Add')
        a(href="/doctors/#{currentUser.id}")
          button.btn.btn-default.inline.push-right Cancel