extends ../layout.jade

block links
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/lumen/bootstrap.min.css")
  link(rel="stylesheet", href="/css/style.css")

block content
  .row
    .col-md-10.col-md-offset-1
        
      h3 Vision Therapy - Dashboard 
        span 
          a.pull-right(href="/doctors/#{currentUser.id}/edit") 
            button.btn.btn-default Settings
          a.pull-right(href="/doctors/#{currentUser.id}/patients/new")
            button.btn.btn-info Add Patient
      h4 Welcome Doctor #{currentUser.lastname} (User ID: #{currentUser.id})
      p 
        .text FirstName: #{currentUser.firstname}
        .text LastName: #{currentUser.lastname}
        .text Username: #{currentUser.username}
        .text Email: #{currentUser.email}

      #patientCard
      
block scripts
  script(src="/js/components/PatientCard.jsx" type="text/babel")
  script(src="/js/components/PatientInfo.jsx" type="text/babel")
  script(src="/js/components/PatientExercises.jsx" type="text/babel")

