extends ../layout.jade

block content
  h1 Doctor #{currentUser.id} Dashboard 
    span.settings
      a(href="/doctors/#{currentUser.id}/edit") Settings

  p FirstName: #{currentUser.firstname}
  p LastName: #{currentUser.lastname}
  p Username: #{currentUser.username}
  p Email: #{currentUser.email}

  hr
  h3 Welcome to Vision Therapy
  a(href="/doctors/#{currentUser.id}/patients/new")
    button Add Patient
  hr
  //- each patient in doctor_patients
  #patientCard
  hr
block scripts
  script(src="/js/components/PatientCard.jsx" type="text/babel")
  script(src="/js/components/PatientInfo.jsx" type="text/babel")
  script(src="/js/components/PatientExercises.jsx" type="text/babel")

